
<div class="card-detail">
    <div class="card-name">
        <p>#{{pokemonDetails.id}}</p>
        <p>{{pokemonDetails.name.toUpperCase()}}</p>
    </div>

    <div class="card-img">
        <img src="{{pokemonDetails.imageUrl}}" alt="{{pokemonDetails.name}}" />
    </div>
    <div>
        <div class="card-type">
            <h4>Type</h4>
            <li *ngFor="let t of pokemonDetails.types"
                [ngStyle]="{'background-color': typeColors[t.type.name]}">
                {{ t.type.name }}
            </li>

        </div>
    </div>
    <div class="card-abilities">
        <h4>Abilities</h4>
        <li *ngFor="let a of pokemonDetails.abilities">
            {{ a.ability.name }}
            @if(a.is_hidden) {
                <p class="hidden">(hidden ability)</p> 
            }

        </li>
    </div>
    <div class="card-stat">
        <h4>Base States</h4>
        <ul>
            <li *ngFor="let s of pokemonDetails.stats; let i = index"
            [ngClass]="'stat' + (i + 1)">
            <p class="number">{{ s.base_stat }}</p>
            <p class="name">{{ s.stat.name | uppercase }}</p>
            </li>
        </ul>
    </div>
</div>

<div class="evolution-wrapper">
    <button (click)="goToEvolution()">Evolve ✨</button>
    <div *ngIf="evolutionFailed" class="fail-animation">❌ No evolution found!</div>
  </div>
  